[Unit]
Description=Root disk repartitioning (first boot)
ConditionPathExists=!/var/lib/repart-root-disk.done
ConditionPathIsMountPoint=/sysroot
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target
Before=basic.target armbian-led-state.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/repart-root-disk
MountFlags=slave
ExecStartPost=/usr/bin/touch /var/lib/repart-root-disk.done
ExecStartPost=/usr/bin/systemctl --no-wall --no-block reboot

[Install]
WantedBy=basic.target
