on:
  workflow_call:
    inputs:
      # container's base image
      fedora_branch:
        required: true
        type: string

      # image to build
      registry:
        required: true
        type: string
      device:
        required: true
        type: string
      desktop:
        required: true
        type: string
      tag:
        required: true
        type: string

      # misc parameters
      latest:
        required: false
        type: string
        default: ''
      expires:
        required: false
        type: string
        default: ''

      # build args
      xiaomi_nabu_samsung_ufs:
        required: true
        type: boolean

env:
  JUST_ARGS: >
    branch=${{ inputs.fedora_branch }}
    tag=${{ inputs.tag }}
    device=${{ inputs.device }}
    desktop=${{ inputs.desktop }}
    registry=${{ inputs.registry }}
    ${{ inputs.expires && 'expires_after=1w' || '' }}
    rechunk_suffix=-build

jobs:
  build:
    name: ${{ inputs.device }}-${{ inputs.desktop }}
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3

      - name: Pull
        id: pull
        run: |
          just $JUST_ARGS pull

      - name: Build
        id: build
        run: just $JUST_ARGS build --build-arg xiaomi_nabu_samsung_ufs=${{ inputs.xiaomi_nabu_samsung_ufs }}

      - name: Rechunk
        id: rechunk
        run: |
          just $JUST_ARGS rechunk

      - name: Push
        id: push
        uses: pocketblue/actions/container-push@main
        env:
          latest: ${{ inputs.latest }}
          username: ${{ vars.REGISTRY_USERNAME != '' && vars.REGISTRY_USERNAME || github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN != '' && secrets.REGISTRY_TOKEN || secrets.GITHUB_TOKEN }}
          registry: ${{ inputs.registry }}
          name: ${{ inputs.device }}-${{ inputs.desktop }}
          tag: ${{ inputs.tag }}
