name: images release
permissions:
  contents: write
on:
  workflow_dispatch:
    inputs:
      fedora_branch:
        type: choice
        description: fedora branch
        required: true
        options:
          - '43'
          - '44'
          - 'rawhide'
        default: '43'

jobs:
  create_release:
    runs-on: ubuntu-24.04-arm
    name: create release
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: version
        id: version
        run: |
          export full_version=$(skopeo inspect docker://quay.io/pocketblue/qualcomm-sdm845-phosh:${{ inputs.fedora_branch }} --format '{{ index .Labels "org.opencontainers.image.version" }}')
          echo version=$(echo $full_version | cut -d. -f1-2) >> $GITHUB_OUTPUT
      - uses: softprops/action-gh-release@v2
        id: create_release
        with:
          tag_name: ${{ steps.version.outputs.version }}
          draft: true
          body: |
            Recommended images:
            - Xiaomi Pad 5 (xiaomi-nabu): [xiaomi-nabu-gnome-desktop](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-xiaomi-nabu-gnome-desktop-${{ inputs.fedora_branch }}.7z)
            - Xiaomi Pad 6 (xiaomi-pipa): [xiaomi-pipa-gnome-desktop](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-xiaomi-pipa-gnome-desktop-${{ inputs.fedora_branch }}.7z)
            - OnePlus 6/6T (oneplus-enchilada/fajita): [qualcomm-sdm845-phosh](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-qualcomm-sdm845-phosh-${{ inputs.fedora_branch }}.7z)
            - Xiaomi Poco F1 (xiaomi-beryllium): [qualcomm-sdm845-phosh](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-qualcomm-sdm845-phosh-${{ inputs.fedora_branch }}.7z)
            - Orange Pi 3 LTS (xunlong-orangepi3-lts): [xunlong-orangepi3-lts-tty](https://github.com/pocketblue/pocketblue/releases/download/${{ steps.version.outputs.version }}/pocketblue-xunlong-orangepi3-lts-tty-${{ inputs.fedora_branch }}.7z)

  images_build:
    needs: create_release
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        device:
          - name: qualcomm-sdm845
            tag: ${{ inputs.fedora_branch }}
            build_aux: 'build-aux'
          - name: xiaomi-nabu
            tag: ${{ inputs.fedora_branch }}
            build_aux: 'build-aux'
          - name: xiaomi-nabu
            tag: ${{ inputs.fedora_branch }}-samsung
            build_aux: 'build-aux.samsung'
          - name: xiaomi-pipa
            tag: ${{ inputs.fedora_branch }}
            build_aux: 'build-aux'
          - name: xunlong-orangepi3-lts
            tag: ${{ inputs.fedora_branch }}
            build_aux: 'build-aux'
        desktop: [tty, gnome-desktop, plasma-desktop, plasma-mobile, phosh]
    name: ${{ matrix.device.name }}-${{ matrix.desktop }}:${{ matrix.device.tag }}
    steps:
      - uses: actions/checkout@v6
      - uses: pocketblue/actions/images@main
        with:
          device: ${{ matrix.device.name }}
          registry: ${{ vars.REGISTRY }}
          image_name: ${{ matrix.device.name }}-${{ matrix.desktop }}
          image_tag: ${{ matrix.device.tag }}
          args_7z: -mmt=1 -md=1500m
          build_aux: ${{ matrix.device.build_aux }}
      - name: check size
        run: |
          du 'pocketblue-${{ matrix.device.name }}-${{ matrix.desktop }}-${{ matrix.device.tag }}.7z' -h
          du 'pocketblue-${{ matrix.device.name }}-${{ matrix.desktop }}-${{ matrix.device.tag }}.7z'
      - uses: actions/upload-artifact@v4
        with:
          name: pocketblue-${{ matrix.device.name }}-${{ matrix.desktop }}-${{ matrix.device.tag }}
          path: pocketblue-${{ matrix.device.name }}-${{ matrix.desktop }}-${{ matrix.device.tag }}.7z
          compression-level: 0
      - uses: svenstaro/upload-release-action@v2
        with:
          release_id: ${{ needs.create_release.outputs.release_id }}
          file: pocketblue-${{ matrix.device.name }}-${{ matrix.desktop }}-${{ matrix.device.tag }}.7z
